<h1 class="display-4">Make questions</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

  <div class="form-group">
    <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-control" placeholder="Question NO.">
  </div>
  <div class="form-group">
    <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Question" required>
    <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required.</div>
  </div>
   <div class="form-row">
      <h1 class="display-4">Make Answer</h1>
    <div class="form-group col-md-6">
      <input name="empCode" #empCode="ngModel" [(ngModel)]="service.formData.empCode" class="form-control" placeholder="Answer1">
    </div> 
    <div class="form-group  col-md-6">
      <input name="qf" #qf="ngModel" [(ngModel)]="service.formData.qf" class="form-control" placeholder="Answer2">
    </div>
    <div class="form-group  col-md-6">
        <input name="qs" #qs="ngModel" [(ngModel)]="service.formData.qs" class="form-control" placeholder="Answer3">
      </div>
      <div class="form-group  col-md-6">
          <input name="qt" #qt="ngModel" [(ngModel)]="service.formData.qt" class="form-control" placeholder="Answer4">
        </div>
        <div class="form-group  col-md-6">
            <input name="q4" #q4="ngModel" [(ngModel)]="service.formData.q4" class="form-control" placeholder="Answer5">
          </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
 <!-- <h1>hellowlorld</h1> -->
</form>
