<table class="table table-hover">
    <thead>
      <th>Question No.</th>
      <th>Question</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th>Answer3</th>
      <th>Answer4</th>
      <th>Answer5</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of list">
        <td (click)="onEdit(emp)">{{emp.position}}</td>
        <td (click)="onEdit(emp)">{{emp.fullName}}</td>
        <td (click)="onEdit(emp)">{{emp.empCode}}</td>
        <td (click)="onEdit(emp)">{{emp.qf}}</td>
        <td (click)="onEdit(emp)">{{emp.qs}}</td>
        <td (click)="onEdit(emp)">{{emp.qt}}</td>
        <td (click)="onEdit(emp)">{{emp.q4}}</td>
        <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>